@model IEnumerable<BusTour.City>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="uk-text-large" class="uk-margin-top">Cities</h2>

<p class="link">
    @Html.ActionLink("Create New", "Create", new { }, htmlAttributes: new { @class = "uk-button uk-button-primary" })
</p>

<div class="uk-block uk-padding-vertical-remove">
    @foreach (var item in Model)
    {
        <div class="uk-block uk-margin-remove uk-padding-top-remove">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <img src="/Image/@item.City_Image_Name" class=" uk-float-left uk-margin-right"  style="width:400px; height:200px;box-shadow:0 0 10px rgba(0,0,0,0.5);" />
                <h3 class="uk-panel-title">
                    <i class="uk-icon-building"></i>
                    @Html.DisplayFor(modelItem => item.City_name) 
                </h3>
                <br />
                @Html.DisplayFor(modelItem => item.Country1.Country_Name)
                <br />
                @Html.DisplayFor(modelItem => item.City_short_descr)
                <br />
                @Html.ActionLink("Delete", "Delete", new { id = item.City_Id }, htmlAttributes: new { @class = "uk-button uk-button-primary uk-float-right", @style= "position:absolute; right: 33px; bottom: 30px; width: 100x; height: 25px;" })
                @Html.ActionLink("Details", "Details", new { id = item.City_Id }, htmlAttributes: new { @class = "uk-button uk-button-primary uk-float-right", @style = "position:absolute; right: 100px; bottom: 30px;" })
                @Html.ActionLink("Edit", "Edit", new { id = item.City_Id }, htmlAttributes: new { @class = "uk-button uk-button-primary uk-float-right", @style = "position:absolute;right:170px;bottom:30px;height:25px;" })
            </div>
        </div>
    }
</div>

