@model BusTour.Place

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="uk-text-large" class="uk-margin-top">Delete Place</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Place</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("City")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City_Id)
        </dd>

        <dt>
            @Html.DisplayName("Place Short Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place_short_descr)
        </dd>

        <dt>
            @Html.DisplayName("Type of Place")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place_Type.Place_Type1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="uk-button uk-button-primary" />
        @Html.ActionLink("Back to List", "Index", new { }, htmlAttributes: new { @class = "uk-button uk-button-primary" })
    </div>
    }
</div>
